<!--Create Template driven form - including input validations-->
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
          Wipro - Developer screening - Create New Training
        </div>
        <div class="card-body">
          <form #trainingForm="ngForm" (ngSubmit)="btnSaveTraining(trainingForm)">
  
              <div class="form-group" [class.has-error]="tname.invalid">
                <label for="name" class="control-label">Training Name:</label>
                <input type="text" class="form-control" required maxlength="100" 
                [(ngModel)]="training.name" #tname="ngModel" [ngClass]="{ 'is-invalid': trainingForm.submitted && tname.invalid }" 
                id="name" name="name" aria-describedby="nameHelp" placeholder="Enter training name">
                <small id="nameHelp" class="form-text text-muted">Please enter training name you are after.</small>
                <div class="alert alert-danger" *ngIf="(trainingForm.submitted || tname.touched) && tname.invalid">Training name is required.</div>
              </div>
  
              
              <div class="form-group">
                <label for="startDate">Start Date:</label>
                <input type="text" bsDatepicker [bsConfig]="datePickerConfig" class="form-control" 
                  required #sdate="ngModel" [(ngModel)]="training.startDate" [ngClass]="{ 'is-invalid': trainingForm.submitted && sdate.invalid }"
                  id="startDate" name="startDate" aria-describedby="startDateHelp" placeholder="Select start date" 
                  autocomplete="off" appConfirmGreaterValidator="endDate">
                <small id="startDateHelp" class="form-text text-muted">Start date format: dd/MM/YYYY.</small>
                <div class="alert alert-danger" *ngIf="sdate.touched && sdate.invalid">Training start date is required.</div>
                <div class="alert alert-danger" *ngIf="sdate.touched && sdate.errors?.greater">
                  The end date can not before the start date.
                </div>
              </div>
  
              <div class="form-group">
                <label for="endDate">End Date:</label>
                <input type="text" bsDatepicker [bsConfig]="datePickerConfig" class="form-control" 
                  required  #edate="ngModel" [(ngModel)]="training.endDate" [ngClass]="{ 'is-invalid': trainingForm.submitted && edate.invalid }"
                  id="endDate" name="endDate" aria-describedby="endDateHelp" placeholder="Select end date"
                  autocomplete="off" appConfirmGreaterValidator="startDate">
                <small id="startDateHelp" class="form-text text-muted">End date format: dd/MM/YYYY.</small>
                <div class="alert alert-danger" *ngIf="edate.touched && edate.invalid">Training end date is required.</div>
                <div class="alert alert-danger" *ngIf="edate.touched && edate.errors?.greater">
                  The end date can not before the start date.
                </div>
              </div>   
  
              <div *ngIf="training.message" class="alert alert-success">
                {{ training.message }}
              </div>  
              <button type="submit" [attr.class]="trainingForm.form.valid?'btn btn-primary':'btn btn-secondary'" 
                [disabled]="!trainingForm.form.valid">Submit</button>
            </form>
        </div>
    </div>
  </div>
  